
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}



@model GroceryShopMiniProjNew.Models.LoginPage

@{

    ViewBag.Title = "Login form";

}

@using (Html.BeginForm("Login", "Login"))

{

    <span style="font-weight:bolder; font-size:16px; color:red;">@ViewBag.Message</span>


  
      

        <div class="row" >

      
            <div class="container" >
	<div class="screen">
                <center style="color:#FFFFFF">  <h2><b><i>User Login</i></b></h2></center>
		<div class="screen__content">
                    
                    

                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
      @*  <div class="form-group col-6"  style=" background-color:gold">*@
                        <div class="form-group col-12">
                     <div class=" login__input">

                            <lable for="loginid" style="color:#FFFFFF"><b><i>Username</i></b></lable>

                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control",  @placeholder = "Enter user name " })
            
               
</div>
        @*</div>*@

        <div class="form-group  col-12">

          @*  <div class="form-group col-6" style="background-color:gold">*@
            <div class=" login__input">

                                    <lable for="loginid" style="color:#FFFFFF"><b><i>Password</i></b></lable>

                            @Html.PasswordFor(m => m.Pasword, new { @class = "form-control" ,@placeholder = "Enter Password"})


                <div class="row">      
                    <center>
                                        <div class="form-group col-6">
        <button class="button login__submit">

                   <span class="button__text">Login</span>
         @*   <input type="submit" value="submit" id="btnsbm" />*@
                <i class="button__icon fas fa-chevron-right"></i>
               
        </button>
                                        </div>
                                            </center>
    </div>
                </div>
            </div>
             </div>
                     </div>
                          </div>
            </div>
            </div>@*
                               <div class="screen__background">
                        <span class="screen__background__shape screen__background__shape4"></span>
                        <span class="screen__background__shape screen__background__shape3"></span>
                        <span class="screen__background__shape screen__background__shape2"></span>
                        <span class="screen__background__shape screen__background__shape1"></span>

                            </div>   *@
                            </div>
            
            
       @* </div>*@

        
    	




}